pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

express.js
lambda.js
node_modules

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless